
*{
    box-sizing: border-box;
    font-family: Barlow,Karla;
    padding:0;
    margin:0;
   }

header{
    background-color: rgba(216, 132, 132, 0.185);
    display:flex;
    justify-content:flex-start;
    align-items: center;
    padding:1.5rem;
    gap:1rem;  
    border-radius: 0 0 10px 10px;   
}

.calculateLogo{
    font-family: Caveat, Barlow,Karla;
    letter-spacing: 0.2rem;
}

i{
    font-size: 2em;
}
   
main{
    width:75%;
    margin:2rem auto 2rem;
    background-color: rgba(230, 213, 216, 0.123);
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.cont-1{
    border-radius: 0 0 10px 10px;
    padding:1.5rem;
    background-color: rgba(168, 168, 175, 0.322);
    text-align: center;
}

.cont-3{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    margin-top: 4rem;
    padding:1rem;
    background-color: rgba(168, 168, 175, 0.322);
}

.pound{
    width:10%;
    position: relative;
    font-size: 2em;
    right:10rem;
    top:2.5rem;
}

form{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}

label{
    font-size: 1.2em;
    margin:1.5rem 0 1.5rem;
}

input, .options{   
    min-width:30%;
    border:2px solid gray;
    padding:1rem;
    border-radius: 10px;   
}

input[placeholder]{
    text-align: center;
    font-size: 1em;
}


button{ 
    min-width:20%;
    padding:1rem;
    font-size: 1em;
    border:rgba(75, 2, 42, 0.514) 2px solid;
    cursor: pointer;  
    background-color: white;
    border-radius: 10px;
}

button:hover{
    border:rgba(75, 2, 42, 0.781) 2px solid; 
}

.cont-4{
    font-size: 1.5em;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 168, 175, 0.322)
   }

aside{
    text-align: center;
    border-radius: 5px;
    width:85%;
    margin: 0 auto;
    padding:2rem;
    box-shadow: inset 0px -5px 20px 0 #fdcaca;   
}

aside p{
    line-height: 2rem;
}

.mapIntroduction{
    margin: 2rem 0 2rem;
    background-color: rgba(128, 128, 128, 0.041);
    border:2px solid rgba(219, 216, 216, 0.315);
    padding:2rem;
    text-align: center;   
}   

.imgContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}

img{
  margin:1rem 0 3rem;   
}

.stats{
    display:grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.041);
    border:2px solid rgba(219, 216, 216, 0.315);
    padding:2rem;
}


p{
    display:inline;
    padding:10px;
    font-size: 1.3em;
}


footer{
    padding:1rem;
    background-color: rgba(216, 132, 132, 0.185);
    border-top: 2px solid rgba(182, 99, 99, 0.185);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#totalTip{
    display: none;
    text-align: center;
}
    
@media only screen and (max-width: 425px) {
.pound{
    right:6.5rem;
    }
}
@media only screen and (min-width:1400px){
.pound{
    right:13rem;
        }
    }

@media only screen and (min-width:2560px){
.pound{
 right:20rem;
}
}

